<!DOCTYPE html>
<html xmlns:"http://www.thymeleaf.org/">
<head>
<meta charset="UTF_8">
<title>Deposit </title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/Login_v1/images/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v1/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v1/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v1/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v1/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v1/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/Login_v1/css/main.css}">
<!--===============================================================================================-->
</head>
<body>
<div class="limiter">
	<div class="container-login100">
	<div class="wrap-login100" style="display:flex; align-items: center;justify-content: center;">
		<form class="login100-form validate-form" th:object="${user}" method="POST">
			<span class="login100-form-title">
				Amount to deposit :</br> </br><input class="input100" type="number" style="padding: 1%;"
					th:field="*{amount}" /><br><br>
				<input class="login100-form-btn" type="submit" value="Credit" /><br>
				<div class="container-login100-form-btn">
					<a class="login100-form-btn" th:href="@{/home}" > Back </a>
				</div>
			</span>
		</form>
	</div>
	</div>
</div>
</body>
</html>